.heading {
  height: 70px;
}

.title {
  padding: 5px;
  text-align: center;
}
@media (max-height: 768px) {
  .heading {
    height: 115px;
  }

  .title {
    padding: 15px;
    text-align: center;
  }
}
