/* Default styles for desktop (or larger screens) */
.sidecontain {
  width: 280px;
  height: 100vh;
  display: flex;
  flex-direction: column;
}


.sideList{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.sideList li{
  margin-top: 20px;
  margin-bottom: 20px;
}

.sideList li a{
  width: 220px;
}
/* Styles for mobile screens (max-width 768px) */
@media (max-width: 768px) {
  .sidecontain {
    width: 100px;
  }
  .sideList li{
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .sideList li .text{
    line-height: 1.2;
    padding: 9px;
  }
  .sideList li a{
    width: 70px;
  }
.dropdown {
  margin-right: auto;
}

}

